.label {
  color: #94b21b;

}

.count {
  width: 70px;
  height: 40px;
  margin: 10px;
  border: 1px solid #03e9f4;
  color: #94b21b;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;

}